/* You can add global styles to this file, and also import other style files */

/* Add application styles & imports to this file! */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 30px;
  }
